{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
Welcome to
{% endblock %}

{% block styles %}
.jumbotron {
	/*color: red;*/
}
{% endblock %}

{% block jquery %}
//alert("welcome!");
{% endblock%}

{# Comments here #}


{% block jumbotron2 %}
  <div class="container">

			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron">
			<h1> Hello {{ username_is }}</h1>
			<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
			<p>To see the difference between static and fixed top navbars, just scroll.</p>
			<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
			</p>
			</div>
  </div>
{% endblock %}


{% block jumbotron %}
{% if sliders %}
  <div class='container' style='margin-top: -19px;margin-bottom: 19px;'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
           {% for slider in sliders %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}"{% if forloop.first %}class="active"{% endif %}>
            </li>
            {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            {% for slider in sliders %}
              <div class="item {% if forloop.first %}active{% endif %}">
                {% if slider.url_link %}<a href='{{ slider.url_link }}'>{% endif %}
              <img src="{{ slider.get_image_url }}" alt="...">
                {% if slider.url_link %}</a>{% endif %}
              <div class="carousel-caption">
                  {% if slider.header_text %}
                  <h1>{{ slider.header_text|safe }}</h1>
                  {% endif %}
                  {% if slider.text %}
                  <p>{{ slider.text|safe }}</p>
                  {% endif %}
            
              </div>
            </div>

            {% endfor %}
  
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>

    {% endif %}
{% endblock %}

{% block content %}




<div class='row'>

{% for product in products %}
		<div class='col-sm-4'>



			<div class="thumbnail">
					{% if product.productimage_set.all %}

							{% for item in product.productimage_set.all %}

							{% if item.featured %}
							<div style="
							width:200px;
							height:200px;margin:0 auto;">

								<a href='{{ product.get_absolute_url }}'>
									<div class='background_img_thumb' style="height:200px;background-image: url('{{ MEDIA_URL }}{{ item.image }}');"></div>
								</a>
							</div>
							<!-- <img class='img-responsive' src="{{ MEDIA_URL }}{{ item.image }}" /> -->
							{% endif %}
							 


							{% endfor %}

					{% else %}
					<img class='img-responsive' src='{% static "img/placeholder.svg" %}' />
					{% endif %}

					<div class="caption">
					<a href='{{ product.get_absolute_url }}'> <h3>{{ product.title }}</h3></a>
					<p>{{ product.description|truncatewords:15}}</p>
					<p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">+1</a></p>
					</div>
		   	 </div>


		</div>

{% cycle "" "" "</div><br/><hr/><div class='row'>" %}
{% endfor %}

</div>

{% endblock %}

