<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %}YU ESTORE</title>

    {% load staticfiles %}
    <!-- <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
    <link rel='stylesheet' href='{% static "css/bootstrap-theme.min.css" %}' /> -->

      <!-- Latest compiled and minified CSS 
  --> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


	<!-- Optional theme 
 -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar-static-top/navbar-static-top.css" rel="stylesheet">
    <style>
    .alert-top-message {
        margin-bottom: 0px;
        border-radius: 0px;
        text-align: center;
        background-color: #DBDBDB;
     
    }
    .alert-top-message h3{
        margin: 0 auto;
    }

    .modal-dialog {
      margin-top: 15%;
    }
    {% block styles %}
    {% endblock %}

    .background_img_thumb {
        width:100%; 
        height:100%;
        background-image: url("{% static 'img/placeholder.svg' %}");
        background-size:cover;
        background-repeat:no-repeat; 
        background-position:center;
    }


    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </head>

  <body>
  {% if request.session.marketing_message %}
  <div class='alert alert-top-message alert-dismissible' role='alert'>
    <button id='marketing-message-btn' type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div class="container">
        <h3>{{ request.session.marketing_message|safe }}</h3>
      </div>
  </div>
  {% endif %}

  {% include 'navbar.html' %}

    {% block jumbotron %}
    {% endblock %}

  


    <div class="container">
         {% if messages %}
            {% for message in messages %}
            <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               
                {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                
          </div>
          {% endfor %}
      {% endif %}
    {% block content %}

    {% endblock %}

    </div> <!-- /container -->

    {% include "modal.html" %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){
        $("#marketing-message-btn").click(function(){
         $.ajax({
              type: "POST",
              url: "{% url 'dismiss_marketing_message' %}",
              data: {
                "dimiss-marketing": true,
                "csrfmiddlewaretoken": "{{ csrf_token }}",
              },
              success: function(data){
              },
              error: function(){
                alert("Error! Something wrong. Please try again later")
              },
           });
        });
    
        {% if not request.user.is_authenticated and not request.session.email_added_marketing and not "accounts" in request.get_full_path %}
        function showModal(){
          $("#marketingModal").modal("show");
          // setTimeout(showModal, 5000);
        }
        // showModal()
        setTimeout(showModal, 5000);
        $("#sendMarketingForm").click(function(e){
          e.preventDefault()
          var mForm = $("#sendForm").serialize()
         $.ajax({
              type: "POST",
              url: "{% url 'ajax_email_signup' %}",
              data: mForm,
              success: function(data){
                // console.log(data)
                $("#modalMessage").html("<p>" + data + "</p>")
                 $("#marketingModal").modal("hide");
              },
              error: function(data){
                // console.log(data)
                // console.log(data.responseJSON)
                var obj = data.responseJSON
                // console.log(obj)
                // console.log(obj.email)
                $("#modalMessage").html("<p style='color:red;'>" + obj.email + "</p>")
              },
           });
        });
        {% endif %}


        

    });


  </script>


	<script>
	$(document).ready(function(){
		{% block jquery %}{% endblock%}
	});

	</script>
  </body>
</html>
