{% extends "base.html" %}



{% block content %}

<div class='col-sm-6 col-sm-offset-3' style='margin-top: 50px;'>
<h1>{{ form_title }}</h1>
<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}


<input type='submit' value='{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}' class='btn btn-default' />
&nbsp;&nbsp;
<a href="/accounts/register">Not have an account yet? Signup now!</a>
</form>
</div>

{% endblock %}
